h1{
	text-align: center;
}

.content{
	display: flex;
	width: 100%;
	justify-content: space-around; 
	flex-wrap: wrap;
}

img{
	width:	200px;
	height: 300px;
	border-radius: 10px;
}

.form{
	margin-top: 100px;
}
